
node_modules/

# Build directories
dist/
build/

# Environment variables
.env
env/.env

# Logs
logs
*.log
npm-debug.log*

# Operating system files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo

# Ignore any other files or directories that should not be committed
